In [84]:
import pandas as pd 
import numpy as np 
import os

In [85]:
df = pd.read_csv("./HourlyDataset.csv")
df.shape
df[25130:]

,Unnamed: 0,Time,Accumulated Precipitation for last 1 h(Avg),Air Temperature 1 Hour Average(Avg),Relative Humidity 1 hour average(Avg),"Wind speed (m/s) at 10 m, 1 h avg(Avg)"
25130,25130,23/09/2022 8:00,0.0,30.8,64.3,2.5
25131,25131,23/09/2022 9:00,0.0,31.3,62.1,2.5
25132,25132,23/09/2022 10:00,0.0,30.9,64.0,2.5
25133,25133,23/09/2022 11:00,0.0,28.9,71.4,2.0
25134,25134,23/09/2022 12:00,0.0,28.2,79.1,1.7
...,...,...,...,...,...,...
26204,26204,07/11/2022 2:00,0.0,15.3,100.0,1.0
26205,26205,07/11/2022 3:00,0.0,17.3,100.0,0.8
26206,26206,07/11/2022 4:00,0.0,19.4,91.6,1.4
26207,26207,07/11/2022 5:00,0.0,21.5,74.3,1.9
26208,26208,07/11/2022 6:00,0.0,23.3,61.6,2.0

In [86]:
#Total Null data available in the Dataset
df.isnull().sum()

Unnamed: 0                                        0
Time                                              0
Accumulated Precipitation for last 1 h(Avg)    1607
Air Temperature 1 Hour Average(Avg)            1299
Relative Humidity 1 hour average(Avg)          1094
Wind speed (m/s) at 10 m, 1 h avg(Avg)         1092
dtype: int64

In [87]:
#changing the string type of time to the date data type
df['Time']=pd.to_datetime(df['Time'])
#changing the format of the date
df['Time']= df["Time"].dt.strftime('%Y-%m-%d %H:%M:%S')
df[:10]

,Unnamed: 0,Time,Accumulated Precipitation for last 1 h(Avg),Air Temperature 1 Hour Average(Avg),Relative Humidity 1 hour average(Avg),"Wind speed (m/s) at 10 m, 1 h avg(Avg)"
0,0,2019-11-11 06:00:00,0.0,23.400,69.399,2.400
1,1,2019-11-11 07:00:00,0.0,24.300,64.700,2.500
2,2,2019-11-11 08:00:00,0.0,25.000,59.300,2.500
3,3,2019-11-11 09:00:00,0.0,25.400,57.500,2.400
4,4,2019-11-11 10:00:00,0.0,24.800,60.400,2.300
5,5,2019-11-11 11:00:00,0.0,23.300,68.400,1.700
6,6,2019-11-11 12:00:00,0.0,22.099,80.600,1.200
7,7,2019-11-11 13:00:00,0.0,21.700,80.500,1.099
8,8,2019-11-11 14:00:00,0.0,21.099,84.899,0.799
9,9,2019-11-11 15:00:00,0.0,20.000,94.899,0.600

In [88]:
data_range = pd.date_range(start="2019-11-11 06:00:00", end="2011-11-07 06:00:00", freq="1H")
df.reindex(data_range, fill_value= ' ')

Empty DataFrame
Columns: [Unnamed: 0, Time, Accumulated Precipitation for last 1 h(Avg), Air Temperature 1 Hour Average(Avg), Relative Humidity 1 hour average(Avg), Wind speed (m/s) at 10 m, 1 h avg(Avg)]
Index: []

In [89]:
df

,Unnamed: 0,Time,Accumulated Precipitation for last 1 h(Avg),Air Temperature 1 Hour Average(Avg),Relative Humidity 1 hour average(Avg),"Wind speed (m/s) at 10 m, 1 h avg(Avg)"
0,0,2019-11-11 06:00:00,0.0,23.4,69.399,2.4
1,1,2019-11-11 07:00:00,0.0,24.3,64.700,2.5
2,2,2019-11-11 08:00:00,0.0,25.0,59.300,2.5
3,3,2019-11-11 09:00:00,0.0,25.4,57.500,2.4
4,4,2019-11-11 10:00:00,0.0,24.8,60.400,2.3
...,...,...,...,...,...,...
26204,26204,2022-07-11 02:00:00,0.0,15.3,100.000,1.0
26205,26205,2022-07-11 03:00:00,0.0,17.3,100.000,0.8
26206,26206,2022-07-11 04:00:00,0.0,19.4,91.600,1.4
26207,26207,2022-07-11 05:00:00,0.0,21.5,74.300,1.9
26208,26208,2022-07-11 06:00:00,0.0,23.3,61.600,2.0

In [90]:
#Importing the missing hours in the DataFrame
df['Time'] = pd.to_datetime(df['Time'],format='%Y-%m-%d %H:%M:%S')
df = df.set_index(['Time']).resample('1H').last().reset_index()
df

,Time,Unnamed: 0,Accumulated Precipitation for last 1 h(Avg),Air Temperature 1 Hour Average(Avg),Relative Humidity 1 hour average(Avg),"Wind speed (m/s) at 10 m, 1 h avg(Avg)"
0,2019-01-12 00:00:00,474.0,0.0,10.5,100.000,0.600
1,2019-01-12 01:00:00,475.0,0.0,10.1,100.000,1.099
2,2019-01-12 02:00:00,476.0,0.0,11.4,100.000,1.000
3,2019-01-12 03:00:00,477.0,0.0,13.6,92.899,0.600
4,2019-01-12 04:00:00,478.0,0.0,15.0,91.300,1.600
...,...,...,...,...,...,...
34291,2022-12-10 19:00:00,25597.0,NaN,NaN,NaN,NaN
34292,2022-12-10 20:00:00,25598.0,NaN,NaN,NaN,NaN
34293,2022-12-10 21:00:00,25599.0,NaN,NaN,NaN,NaN
34294,2022-12-10 22:00:00,25600.0,NaN,NaN,NaN,NaN
34295,2022-12-10 23:00:00,25601.0,NaN,NaN,NaN,NaN

In [91]:
df.isnull().sum()

Time                                              0
Unnamed: 0                                     8087
Accumulated Precipitation for last 1 h(Avg)    9694
Air Temperature 1 Hour Average(Avg)            9386
Relative Humidity 1 hour average(Avg)          9181
Wind speed (m/s) at 10 m, 1 h avg(Avg)         9179
dtype: int64

In [92]:
#downloading the new Dataset:
df.to_csv("UpdatedDataframe.csv")